/(JV)
/Suplamentary_material
/Github_Workflow.txt
/Unix_Commands.txt
/What_to_do_after_update.txt
/Program/__pycache__
/Program/Data_files.json
/Program/Scan_files.json
/Program/Processed_Data_files.json
/Program/tools/__pycache__
/Skirtumai_tarp_tirpiklių.pdf
/Program/All_solvent_differential_tables.tex
/Program/.xdp-All_solvent_differential_tables.pdf-lYNbkb
/Program/.xdp-All_solvent_differential_tables.aux-oi69Ib
/Program/.xdp-All_solvent_differential_tables.log-MKEkT6
/Program/.xdp-All_solvent_differential_tables.synctex(busy)-CoIme3

